.zoom{
    border:2px solid red;
    width:300px;
    display:inline-block;
    margin: 100px;
    overflow: hidden;
}
/* .zoom:hover img{
    transform: scale(1.2);
} */

.imgScale img{
    transform: scale(1.2);
}
img{
    width: 100%;
    vertical-align: top;
    transition:all .3s;
}